.title  {
    background-color: #282c34;
    min-height: 10vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(20px + 2vmin);
    color: red;
     
  }

  .liens {
    background-color: #282c34;
    min-height: 10vh;
    display: inline;
    flex-direction: column;

    font-size: 1.5rem;
    color: red;
     
  }

.linkRight {
  position: absolute;
  right: 2rem;
  top: 1rem;
  font-size: 1.3rem;
  color: white;
  text-decoration: none;
}

.linkLeft {
  position: absolute;
  left: 2rem;
  top: 1rem;
  font-size: 1.3rem;
  color: white;
  text-decoration: none;
}

.linkCenter {
  position: relative;
  margin: auto;
  font-size: 2rem;
  color: lightgray;
  text-decoration: none;
}